<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Location Vélo</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  </head>
  <body>

    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/admin/reservation">CRUD Location velo</a>
      <a class="navbar-link text-white" href="/admin/user">Utilisateurs</a>
      <a class="navbar-link text-white ml-5" href="/admin/locations">Locations</a>
      <a class="navbar-link text-white ml-5" href="/admin/type">Types objets</a>
      <a class="navbar-link text-white ml-5" href="/admin/etat">Etat - types objets</a>
      <a class="navbar-link text-white ml-5" href="/admin/parcours">Parcours</a>
      <a class="navbar-link text-white ml-5" href="/admin/points">Points</a>
      <a class="navbar-link text-white ml-5" href="/admin/role">Role</a>
	    <a class="navbar-link text-white ml-5" href="/admin/reservation">Réservation</a>
    </nav>
    
